{% extends "otapiui/layout.html" %}
{% load static %}
{% block title %}
Export Data
{% endblock %}
{% block page_script %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-5">
        <h2>Full Export</h2>

        <h4>Available Downloads</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">URL For Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in full_export %}
                            <tr>
                                <td>{{ item.dayOf }}</td>
                                <td><a href="{{ item.location }}">{{ item.location }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr/>
    </div>
    <div class="col-1" style="border-right:1px solid red">

    </div>
    <div class="col-5">
        <h2>Vehicle Only Export</h2>
        <h4>Available Downloads</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">URL For Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in vehicle_export %}
                            <tr>
                                <td>{{ item.dayOf }}</td>
                                <td><a href="{{ item.location }}">{{ item.location }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#confirmModal").on('shown.bs.modal', function (event) {
            $("#okButton").focus();
        });
    });
</script>
{% endblock %}